/UnityProject/TableExportTest/Library
/UnityProject/TableExportTest/*.sln
/UnityProject/TableExportTest/*.csproj
/UnityProject/TableExportTest/*.user
/UnityProject/TableExportTest/Temp
/UnityProject/TableExportTest/Logs
/UnityProject/TableExportTest/obj
/UnityProject/TableExportTest/Build

